[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "pypik"
url = "https://pypi.infomaniak.ch/"
verify_ssl = true

[packages]
kopf = "*"
kubernetes = "*"

[dev-packages]
pre-commit = "*"
flake8-pyproject = "*"
pylint = "*"
pylint-venv = "*"
